[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = "M.mrad "
	email = 85152446+Mmrad07@users.noreply.github.com
